In [1]:
import pandas as pd #Normalmente se usa pd para hacer referencia a Pandas

In [3]:
# Al crear una base de datos, normalmente se nombra como df -> DataFrame
df = pd.read_csv("C:\\Users\\e006697\\Documents\\Python_2\\CursoPython\\Python Data Science\\Fuentes Kike\\Base de datos\\base_datos_2008.csv", nrows=100)
#En estas funciones la \ de las ruas debe ir por duplicado
#nrows=10 solo nos trae las 10 primeras filas

In [4]:
df.head() # La función head de pandas, nos permite explorar las 5 primeras filas de nuestro data frame

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211,2225,WN,335,...,4,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002,1000,WN,3231,...,5,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804,750,WN,448,...,3,17,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926,930,1054,1100,WN,1746,...,3,7,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829,1755,1959,1925,WN,3920,...,3,10,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [5]:
df.head(3) #Podemos indicar cuantas queremos ver
#Ojo, las filas empiezan siempre por el 0
#Como se ve, asigna en una primera columan una clave, en este caso del 1 al 999999

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211,2225,WN,335,...,4,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002,1000,WN,3231,...,5,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804,750,WN,448,...,3,17,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [21]:
%time df.tail() #Lo mismo que head, pero mostrando el fin del data frame

Wall time: 993 µs

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
95,2008,1,3,4,1506,1440,2030,2010,WN,2032,...,6,15,0,NaN,0,18.0,0.0,0.0,0.0,2.0
96,2008,1,3,4,2039,1930,155,55,WN,3940,...,5,14,0,NaN,0,0.0,0.0,22.0,0.0,38.0
97,2008,1,3,4,924,920,1209,1210,WN,71,...,3,18,0,NaN,0,NaN,NaN,NaN,NaN,NaN
98,2008,1,3,4,1611,1535,1849,1825,WN,538,...,3,22,0,NaN,0,9.0,0.0,0.0,0.0,15.0
99,2008,1,3,4,1824,1715,117,25,WN,2383,...,2,10,0,NaN,0,48.0,0.0,0.0,0.0,4.0

In [6]:
#des ordena el df
df2 = df.sample(frac = 1) #se puede hacer dentro del propio df usando df en vez de df2
#frac = 1 -> Maneter todas las filas

# Ver https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html

In [24]:
df2 #Nuevo df con los datos desordenados

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,2008,1,3,4,754,735,1002,1000,WN,3231,...,5,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617,615,652,650,WN,11,...,6,19,0,NaN,0,NaN,NaN,NaN,NaN,NaN
65,2008,1,3,4,1500,1500,1602,1615,WN,640,...,5,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
36,2008,1,3,4,831,830,935,955,WN,300,...,5,7,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620,1620,1639,1655,WN,810,...,3,6,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14,2008,1,3,4,1702,1700,1651,1655,WN,1827,...,4,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
75,2008,1,3,4,712,700,926,915,WN,1232,...,5,9,0,NaN,0,NaN,NaN,NaN,NaN,NaN
44,2008,1,3,4,1153,1140,1428,1440,WN,2006,...,4,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
71,2008,1,3,4,802,750,1001,955,WN,2272,...,7,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
86,2008,1,3,4,1832,1655,148,30,WN,302,...,3,10,0,NaN,0,8.0,0.0,0.0,0.0,70.0

In [7]:
df.columns #devuelve una lista con las columnas que tiene el df
#columns es un atrubito, no una función. Por eso no lleva ()

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [8]:
df.DepTime #devuelve la columna DepTime

0     2003
1      754
2      628
3      926
4     1829
      ...
95    1506
96    2039
97     924
98    1611
99    1824
Name: DepTime, Length: 100, dtype: int64

In [27]:
df.dtypes #devuelve el tipo de datos de cada columna

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime                int64
CRSDepTime             int64
ArrTime                int64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime      int64
CRSElapsedTime         int64
AirTime                int64
ArrDelay               int64
DepDelay               int64
Origin                object
Dest                  object
Distance               int64
TaxiIn                 int64
TaxiOut                int64
Cancelled              int64
CancellationCode     float64
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [9]:
df.values #devuelve todo el contenido en un array

array([[2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       ...,
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., 0.0, 0.0, 15.0],
       [2008, 1, 3, ..., 0.0, 0.0, 4.0]], dtype=object)

In [10]:
df3 = df.head(10) #creamos un nuevo df en base al primero

In [30]:
df3

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211,2225,WN,335,...,4,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002,1000,WN,3231,...,5,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804,750,WN,448,...,3,17,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926,930,1054,1100,WN,1746,...,3,7,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829,1755,1959,1925,WN,3920,...,3,10,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940,1915,2121,2110,WN,378,...,4,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937,1830,2037,1940,WN,509,...,3,7,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039,1040,1132,1150,WN,535,...,7,7,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617,615,652,650,WN,11,...,6,19,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620,1620,1639,1655,WN,810,...,3,6,0,NaN,0,NaN,NaN,NaN,NaN,NaN