In [1]:
import pandas as pd

df = pd.read_csv("C:\\Users\\e006697\\Documents\\Python_2\\CursoPython\\Python Data Science\\Fuentes Kike\\Base de datos\\base_datos_2008.csv")

In [2]:
df.groupby(by="DayOfWeek")["ArrDelay"].max()
#1 parametro: Nombre de columna por la que agrupa
#2 parametro: Nombre de columna del valor a aplicar la función
#3 parametro: Función. En este caso, max. Tambien podriamos usar:
# .mean() -> media
# .min() -> valor mas pequeño
# .count() -> conteo
# .describe() -> resumen estadistico agrupado (count, mean, std (desviación estandard), min, max,3 cuartiles)
# Hay muchas mas fuinciones. Ver https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html 

#select max(ArrDelay) from df group by DayOfWeek

DayOfWeek
1    1583.0
2    1951.0
3    1510.0
4    2453.0
5    1707.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

In [3]:
df.groupby(by="DayOfWeek")["ArrDelay", "DepDelay"].mean() #se pueden añadir mas columnas en el select

            ArrDelay   DepDelay
DayOfWeek
1           8.210850  10.269990
2           7.481208   8.976897
3           6.522017   8.289761
4           8.411599   9.772897
5          10.953440  12.158036
6           5.789666   8.645681
7           9.495886  11.568973

In [4]:
df.groupby(by="DayOfWeek")["ArrDelay"].max() - df.groupby(by="DayOfWeek")["ArrDelay"].min()
#Se pueden hacer operaciones con estos objetos groupby. En este caso, tenemos el rango

DayOfWeek
1    2102.0
2    2040.0
3    1597.0
4    2582.0
5    1793.0
6    1616.0
7    2553.0
Name: ArrDelay, dtype: float64

In [6]:
dfATLHOU = df[df.Origin.isin(["ATL","HOU"])] #Creamos un nuevo data frame, solo con los vuelos con origen en Atlanta y Houston

In [7]:
dfATLHOU.groupby(by=["DayOfWeek", "Origin"])["ArrDelay"].mean() #Añadimos otro campo al group by. Ojo con el orden de las columnas en el by=, ya que afecta a la visualización

DayOfWeek  Origin
1          ATL        9.123436
           HOU        6.356856
2          ATL        8.933587
           HOU        9.348112
3          ATL        8.809146
           HOU        9.073109
4          ATL       10.186501
           HOU       12.994016
5          ATL       14.797440
           HOU       11.036545
6          ATL        9.511662
           HOU        4.283933
7          ATL       13.798627
           HOU        7.045287
Name: ArrDelay, dtype: float64

In [11]:
myGroupBy = dfATLHOU.groupby(by=["DayOfWeek", "Origin"])["ArrDelay"] #Lo podemos guardar en un objeto goupby, sin aplicar función (también ya aplicandola), para usarlo posteriormente

In [12]:
type(myGroupBy)

pandas.core.groupby.generic.SeriesGroupBy

In [15]:
myGroupBy.describe()

                    count       mean        std   min   25%  50%   75%     max
DayOfWeek Origin
1         ATL     60598.0   9.123436  30.958642 -69.0  -8.0  1.0  14.0   407.0
          HOU      8205.0   6.356856  28.887113 -47.0  -7.0 -2.0   9.0   383.0
2         ATL     59732.0   8.933587  34.750658 -89.0  -9.0 -1.0  13.0   848.0
          HOU      8368.0   9.348112  35.321852 -44.0  -7.0 -1.0  12.0   546.0
3         ATL     60245.0   8.809146  34.343042 -56.0  -9.0  0.0  13.0   876.0
          HOU      8330.0   9.073109  33.191673 -39.0  -7.0 -1.0  12.0   639.0
4         ATL     59721.0  10.186501  35.261512 -51.0  -8.0  1.0  15.0   571.0
          HOU      8188.0  12.994016  39.360946 -42.0  -6.0  1.0  17.0  1082.0
5         ATL     60007.0  14.797440  38.859778 -51.0  -7.0  3.0  20.0   699.0
          HOU      8209.0  11.036545  32.415069 -48.0  -6.0  1.0  16.0   560.0
6         ATL     49734.0   9.511662  36.020584 -61.0 -10.0 -1.0  15.0   483.0
          HOU      5614.0   4.283933  32.518381 -47.0  -9.0 -3.0   6.0   917.0
7         ATL     57664.0  13.798627  42.466233 -86.0  -8.0  1.0  17.0   612.0
          HOU      7331.0   7.045287  30.820505 -55.0  -7.0 -1.0  11.0   685.0